.page-header {
  margin-top: 30px;
}

.fa-trash-alt {
  color: red;
  float: right;
  cursor: pointer;
}

.todo-complete {
  text-decoration: line-through;
}

.todo-status-checkbox {
  cursor: pointer;
  margin-right: 10px;
}

body{
  background-image: url('https://wallpaper.dog/large/20515674.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  color: #FFFF
}
